{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Welcome {{username}} !</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            
            <a href="/edit/0"><button  class="btn btn-primary">Add a New Post</button></a>
            <a href="/logout"><button  class="btn btn-primary">Logout</button></a>
            <hr>
            <h2>Upload A File</h2>
            <form action="/upload", method="POST" enctype="multipart/form-data">
                <input type="file" name="file1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr>
            <h2>Edit/Delete Existing Posts</h2>
            <table class="table">
              <thead>
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Title</th>
                      <th scope="col">Date</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
              </thead>
              <tbody>
                {% for post in posts%}
                    <tr>
                      <th scope="row">{{post.S_no}}</th>
                      <td>{{post.Title}}</td>
                      <td>{{post.Date}}</td>
                      <td><a href="/edit/{{post.S_no}}"><button class="btn btn-primary" >Edit</button></a></td>
                      <td><a href="/delete/{{post.S_no}}"><button class="btn btn-primary">Delete</button></a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
</div>
</div>
</div>
{% endblock %}
