{% extends "layout.html" %}
{% block body %}

<!-- Page Header-->

{% set fname = params['index_img'] %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename=fname) }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['blog_name']}}</h1>
                    <span class="subheading">{{params['blog_subheading']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for post in posts %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="/post/{{post.Slug}}">
                        <h2 class="post-title">{{post.Title}}</h2>
                        <h3 class="post-subtitle">{{post.Sub_heading}}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{post.Author}}</a>
                        on {{post.Date}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
            
            <div class="d-flex justify-content-end mb-4">
                <div>
                    <a class="btn btn-primary text-uppercase float-left" href="{{prev}}"> &larr; Previous</a>
                    <a class="btn btn-primary text-uppercase" href="{{next}}">Next →</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
