{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Login Page</h1>
                </div>  
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                
                <div class="my-5">
                    
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/login" method="POST">
                        <div class="form-floating">
                            <input class="form-control" id="username" type="text" placeholder="Username..." data-sb-validations="required" name = "username" />
                            <label for="username">Username</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A Username is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="password" type="text" placeholder="Password" data-sb-validations="required,email" name = "password" />
                            <label for="password">Password</label>
                            <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                        </div>
                       
                        
                        <br />
                        
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Login successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                       
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error Logging In</div></div>
                        
                        <button class="btn btn-primary " id="submitButton" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
